.container {
  display: flex;
  flex-direction: row;
}

.aside {
  padding: 2rem 1.6875rem 0 2.1875rem;
  width: 20%;
}

.logo {
  margin-bottom: 3.75rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 32px;
  margin-top: 5px;
  gap: 32px;
  width: 80%;
  height: 100vh;
  background: #fbfaff;
  border-radius: 32px 0px 0px 0px;
}

.headMain {
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
}
